@model List<paylasim>

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-hover">
    <thead class="bg-dark text-white">
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Kullanıcı Id</th>
            <th scope="col">Başlık</th>
            <th scope="col">İçerik</th>
            <th scope="col">Oluştuluma Tarihi</th>
            <th scope="col">Kategori</th>
            <th scope="col">
                <div>
                    <a asp-controller="Paylasim" asp-action="Ekle" class="btn btn-success">Paylaşım Yap</a>
                </div>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.kullaniciid</td>
                <td>@item.baslik</td>
                <td>@item.icerik</td>
                <td>@item.olusturmatarihi</td>
                <td>@item.kategoriid</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Paylasim" asp-action="Guncelle" asp-route-id="@item.id">Güncelle</a>
                    <a class="btn btn-danger" asp-controller="Paylasim" asp-action="Sil" asp-route-id="@item.id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

